:root {
    --col-text: #083a44;
    --col-pop: #f4574f;
    --col-grey: #a4babe;
    --col-bg: #f1f2f3;

    --space-s: 0.5rem;
    --space-m: 1rem;

    --trans-dur: 0.3s;
    --trans-timing1: cubic-bezier(0.37, 0, 0.63, 1);
    --trans-timing2: cubic-bezier(0.34, 1.56, 0.64, 1);
}

html,
body,
#root {
    height: 100%;
    background-color: var(--col-bg);
}

.page {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

nav {
    padding-bottom: env(safe-area-inset-bottom);
}