.map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.bike-used {
  color: #0096FF;
  /* background-color: #0096FF; */
}

.bike-free {
  background-color: green;
}

.charging-station {
  font-size: 1.2rem;
  color: black
}