.Account-spacer {
    height: 5vh;
}

.Account-info {}

.Account-header {
    padding: 1rem;
    text-align: center;
}

.payment-method {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 0px;
    margin-top: 12px;
    cursor: pointer;

    border-radius: 10px;
}

.payment-method:active {
    background-color: #ddd;
}


.payment-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment-icon {
    padding-left: 10px;
    font-size: 18px;
}

.payment-name {
    font-weight: 500;
}

.payment-arrow {
    font-size: 18px;
    color: #888;
    border: none;
    background: none;
}


.Account-body {
    padding: 1rem;
}

.details-card {
    background-color: #f9f9f9;
    padding: 1rem;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 10px;
    /* background-color: pink; */
}

.details-card-saldo {
    padding: 0;
    margin: 0;
}


.account-buttons {
    margin: 0;
    padding: 0;
}

.account-buttons-body {
    padding: 1rem;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.account-buttons-body>button {
    padding: 1rem;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 10px;
    background-color: #f9f9f9;
    color: black;
}

.account-buttons-body>button:active {
    background-color: red;
    background-color: #c8c8c8;

}