.btn {
    /* background-color: transparent; */
    border-radius: 8px;
    border: 2px solid grey;
    padding: 1.5rem;
    color: var(--col-text);
    /* font-size: 1.4rem; */
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.delete:hover {
    color: var(--col-bg);
    background-color: rgb(107, 13, 13);
}