.table {
    width: 100%;
    height: 20%;
    background-color: purple;
}

.systems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.systemCard {
    background-color: red;
    anchor-name: --system-card;
}

.system-text {
    position-anchor: --system-card;
    background-color: red;
    margin-top: 100px;
}