/* @import url("./tokens.css"); 
Import order solves this?*/

/* --- RESET AND BASE RULES, TYPOGRAPHY BASICS --- */

/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    line-height: var(--line-height-normal);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

/* BASE RULES */

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-md);
    color: var(--col-text);
    background-color: var(--col-bg-muted);
}


/* --- TYPOGRAPHY --- */


h1,
h2,
h3 {
    line-height: var(--line-height-tight);
    margin-bottom: var(--space-m);
    font-weight: 900;
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
    font-weight: 400;
}

h3 {
    font-size: var(--font-size-md);
    font-weight: 600;
}

p {
    margin-bottom: var(--space-m);
    max-width: 65ch;
    /* readable measure */
}

/* Flow spacing (golden-ish rule) */
.flow>*+* {
    margin-top: var(--space-m);
}