.navList {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 200px;
   border: 1px solid grey;
   border-radius: 10px;
 }

.navList a{
   display: block;
   color: white;
   padding: 8px 16px;
   text-decoration: none;
 }

 /* Change the link and background color on hover */
.navList a:hover {
   background-color: #555555;
   color: white;
 }

.active {
  background-color: #04AA6D;
  /* color: blue; */
} 