.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  text-align: left;
}

.navList a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link and background color on hover */
.navList a:hover {
  background-color: #555555;
  color: white;
}

.active {
  border-bottom: 2px solid grey;
}

.navDiv {
  display: flex;
  justify-content: left;
  align-items: center;
}