.navList {
    height: 100%;
    list-style-type: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    /* background: #1e1e1e; */
    background-color: var(--col-bg);
    border-radius: 8px;
    padding: var(--space-m) var(--space-s);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: left;

    li {
        margin: var(--space-s) var(--space-m);
    }

    button {
        width: 100%;
        margin: 0;
        margin-top: var(--space-l);
    }

    button:hover {
        background: var(--col-pop);
        border: 2px solid var(--col-pop);
    }

    svg {
        display: inline-block;
        vertical-align: sub;
        margin-right: var(--space-s)
    }
}

.navList a {
    display: block;
    width: 100%;
    padding: var(--space-s);
    /* display: block; */
    /* color: white; */
    color: var(--col-text);
    /* padding: 8px 4px; */
    text-decoration: none;
    /* white-space: nowrap; */
    border: 2px solid var(--col-border);
    border-radius: var(--radius-md);
    /* border-radius: 3rem; */
}

/* Change the link and background color on hover */
.navList a:hover {
    /* background-color: #555555; */
    border: 2px solid var(--col-pop);
}

.active {
    background-color: #04AA6D;
    border: 2px solid var(--col-text);
    /* color: blue; */
}