.container {
  display: flex;
  gap: 8px;
  /* line-height: 0.5; */
  /* justify-content: center; */
  align-items: center;
}

.avatar {
  margin: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  text-align: left;
  padding: 1rem;
  
}

