/* ZONE STYLING */
.charging-station {
  font-size: 1.2rem;
  color: black
}

.parking-station {
  font-size: 1.2rem;
  color: black
}

/* BIKE STYLING */
.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  display: none;
}

.bike-used {
  color: #0096FF;
  font-size: 1.4rem;
}

.bike-free {
  font-size: 1.2rem;
  color: green
}