.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

.success {
  color: green
}

.error {
  color: red
}

.info {
  color: lightskyblue
}

.errorDiv {
  background-color: rgba(247, 90, 90, 0.998);
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.successDiv {
  background-color: rgb(78, 152, 78);
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}