#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-layout {
  display: flex;
  width: 1200px;
  height: 100vh;
  align-items: top;
  gap: 1rem;
  margin: 0 auto;
  /* background-color: red; */
  /* background-color: grey; */
}

.app-content {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 100%;
  gap: 1rem;
}

.card {
  background: #1e1e1e;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.map {
  width: 100%;
  min-height: 700px;
  padding: 0;
  background: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.wrapper {
  padding: 1rem;
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 auto;
}