.map {
    width: 100%;
    min-height: 700px;
    padding: 0;
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.wrapper {
    padding: 1rem;
    min-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cardWrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
}

.systems {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.systemCard {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
    height: 300px;
}

.systemText h3,
.systemText p {
    margin: 0.5rem 1rem 0 1rem;
}

.systemText p {
    color: var(--col-bg);
    border: 2px solid var(--col-green);
    border-radius: 999px;
    background-color: var(--col-green);
    padding: var(--space-s);
}

.systems img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.arrow-icon {
    display: inline;
    vertical-align: bottom;
    transition: all var(--transition-slow);
    /* transition: transform 0.3s ease; */
}

.systemCard:hover .arrow-icon {
    transform: translateX(6px);
}

.systemCard:active .arrow-icon {
    transform: translateX(12px);
}

.systems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

/* 
.systemCard {
    position: relative;
}

.systems img {
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.systemText {
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;

    .system-text {
        text-align: left;
        font-weight: 900;
        line-height: 0.8;
        font-size: clamp(1rem, 5cqw, 3rem);
    }
} */