@import url("./styles/tokens.css");
@import url("./styles/base.css");
/* @import url("./styles/utilities.css"); */
@import url("./styles/button.css");
@import url("./styles/forms.css");
@import url("./styles/design-elements.css");
/* @import url(./components/button/Button.module.css); */

#root {
    font-family: var(--font-family-base);
    line-height: 1.5;
    font-weight: 400;
    /* max-width: 1280px; */
    margin: 0 auto;
    padding: 2rem 0rem;
    text-align: center;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button:focus,
button:focus-visible {
    outline: 4px auto - webkit-focus-ring-color;
}

.app-layout {
    background-color: var(--col-bg-muted);
    padding: 1rem;
    display: flex;
    /* width: 1200px; */
    width: 98vw;
    /* height: 100vh; */
    min-height: 90vh;
    align-items: top;
    gap: 0.5rem;
    margin: 0 auto;
    border-radius: 8px;
    /* background-color: red; */
    /* background-color: grey; */
}

.app-content {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 100%;
    gap: 1rem;
}

.card {
    /* background: #1e1e1e; */
    background-color: var(--col-bg);
    border-radius: 8px;
    padding: 1rem 2rem var(--space-xxl);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.map {
    width: 100%;
    min-height: 700px;
    padding: 0;
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.wrapper {
    padding: 1rem;
    min-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cardWrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
}

.logo {
    max-width: 100px;
}

.logo-small {
    max-width: 100px;
    display: inline-block;
}

.logo-wrapper {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a>svg {
    margin: auto;
    color: var(--col-blue);
}

@media screen and (max-width: 1200px) {
    .app-layout {
        flex-direction: column;
    }

    .navContainer ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li,
        button {
            margin: var(--space-xs);
            /* 
            a,
            button {
                padding: 0 var(--space-xs);
            } */
        }

    }

}