name: MegaLinter
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oxsecurity/megalinter@v8
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JAVASCRIPT_ES: true
          SHOW_ELAPSED_TIME: true
          REPORT_OUTPUT_FOLDER: megalinter-reports
